@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: "";
}
object,
embed {
  vertical-align: top;
}
legend {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
img,
abbr,
acronym,
fieldset {
  border: 0;
}

html {
  scroll-behavior: smooth;
}

/* 12~ */
body {
  font: 14px/1.9 "Noto Sans JP", Arial, Vedana, 游ゴシック, YuGothic,
    "ヒラギノ角ゴ ProN W3", "hiragino kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: black;
  background-color: white;
}

/* aタグ　→　全てのボタン */
a {
  color: #0066ff;
  text-decoration: none;
}

a:hover,
.active {
  text-decoration: underline black;
}

a:hover,
a:focus,
input:active,
input:focus {
  outline: 0;
}

/* ヘッダー
------------------------------------------------------------*/
#header {
  text-align: center;
}

#header h1 {
  padding-top: 60px;
}

#manuNav a {
  color: black;
}

#topImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 528px;
}

#topImg img {
  position: absolute;
  left: 50%;
  max-width: 1280px;
  width: 1280px;
  height: 528px;
  margin-left: -640px;
}

/* フッター
------------------------------------------------------------*/
#footer {
  clear: both;
  padding: center;
  text-align: center;
  font-size: 12px;
}

/* 共通
------------------------------------------------------------*/

/* img画像 */
img {
  max-width: 100%;
  height: auto; /*要素の高さ　: 自動*/
}

/* section(01~05) */
section {
  clear: both; /*floatプロパ要素　の回り込みを解除する　左,右、中央の要素*/
  padding-top: 70px;
}

/* section h2 (01~05 の見出し)*/
section h2 {
  font-family: "Pacifico", cursive; /*イタリック、毛筆っぽい*/
  width: 60%;
  margin: 0 auto 40px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  background: url(../images/borderBlack.png) repeat-x 0 50%; /*背景画像がどのように繰り返すか　x=横へ繰り返し*/
  background-size: 1px 1px;
}

/* section h2 (01~05 の見出し)*/
section h2 span {
  background: #fff;
  padding: 0 80px;
}

/* inner class*/
.inner {
  width: 94%;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* innerS class*/
.guide {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* SEC02 Gallery
------------------------------------------------------------*/
/*id要素sec02 (Gallery)*/
#galleryPart {
  padding: 0 !important; /*最重要要素に設定　後からpaddingが書き換わらない*/
}

/*id要素sec02　のheader ("Gallery")*/
#galleryPart header {
  display: none; /*要素のレイアウト*/
}

/*id要素sec02 のli(画像s)*/
#galleryPart li {
  float: left; /* 要素を横並びにする */
  width: calc(100% / 3); /* sec02id要素 のli要素（画像s)　の横幅を3棟分する */
  line-height: 0;
}

/* gallery id要素　のimg*/
#gallery img {
  width: 100%;
  height: auto;
}

/* SEC03 PROJECT
------------------------------------------------------------*/
/* sec03id要素　のimg　に余白*/
#projectPart img {
  width: 100%;
  margin-bottom: 30px;
}

/* SEC04 BRAND
------------------------------------------------------------*/
.brandDescription3 .img {
  display: block; /*要素にブロックを生成する*/
  margin: 0 auto 5px;
}

.brandDescription3 li {
  line-height: 2; /*テキストの行間を設定*/
  text-align: center;
}

/* col3 class の　img class*/
.brandDescription3 .img {
  padding: 80px 50px;
  margin-bottom: 40px;
  line-height: 0 !important; /**/
  background: #f6f6f6;
}

/* backgroundPicture要素*/
#backgroundPicture {
  background: url("images/bgSec04.jpg") no-repeat 100% 100% fixed; /*⭐️bgSec04.jpgをが読み込めない*/
  background-size: cover; /*背景画像の寸法を設定*/
  -webkit-background-size: cover; /**/
  text-align: center;
  padding: 220px 20px;
}

#backgroundPicture img {
  width: auto;
}

/* COMPANYPart
------------------------------------------------------------*/
#companyPart p {
  margin-bottom: 5px;
}

.info2 li {
  display: inline-block; /*インラインボックス　に要素配置*/
  width: 80%;
  margin: 20px 0;
}

#sns img {
  padding: 35px 10px 5px 0;
}

#sns a:hover img {
  opacity: 0.8;
}

#map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; /*要素が多くて　ブロックに治らない時の処理*/
  z-index: 0; /*要素の重なり順を指定する*/
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

/* RESPONSIVE 設定　メディアクエリ 各画面サイズごとの設定
------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  /*要素の最小幅を設定　条件式　screenが1200px以下になるときに innerクラスを 1024px*/
  .inner {
    width: 1024px;
  }
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
  a#menu {
    display: none;
  }

  /*パネルをデザイン*/
  .panel {
    display: block !important;
  }

  #manuNav li {
    display: inline-block;
    padding: 50px 25px;
    font-size: 15px;
  }

  /* SEC03 PROJECT
	-----------------*/
  .brandDescription3 {
    text-align: center;
  }

  .brandDescription3 li {
    display: inline-block;
    width: 28%;
    padding: 0 2.5% 50px;
    margin-bottom: 0;
    vertical-align: top; /*垂直にボックスを配置*/
    text-align: left;
  }

  #footer {
    padding: 30px 10px 70px 0;
  }
}

@media only screen and (min-width: 641px) {
  .info2 li {
    width: 60%;
    vertical-align: top;
  }

  .info2 li:first-child {
    /*擬似クラスで、兄弟要素のグループの中で最初の要素*/
    width: 35%;
    padding-right: 4%;
  }
}

@media only screen and (max-width: 640px) {
  /*companyのli*/
  .guide {
    width: 94%;
    padding-bottom: 70px;
  }
  .brandDescription3 li {
    line-height: 1.7;
  }
  .brandDescription3 img {
    margin: 0 auto;
  }
  .brandDescription3 .img {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  #gallery li {
    float: none;
    width: 100%;
  }
  #map iframe {
    width: 96% !important;
    left: 2%;
  }
  #backgroundPicture {
    padding: 50px 20px;
    height: auto;
  }
}

@media only screen and (max-width: 799px) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 500;
  }

  #headerPart {
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #ccc;
  }

  #header h1 {
    padding-top: 10px;
  }

  #header h1 img {
    margin-top: 3px;
    max-height: 45px;
    width: auto !important;
  }

  a#menu {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  #menuBtn {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 18px;
    height: 2px;
    margin: -1px 0 0 -7px;
    background: #000;
    transition: 0.2s; /* transtionプロ  transition-property、 transition-duration、 transition-timing-function、 transition-delay の一括指定プロパティ*/
  }

  #menuBtn:before,
  #menuBtn:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 2px;
    background: #000;
    transition: 0.3s;
  }

  #menuBtn:before {
    margin-top: -7px;
  }

  #menuBtn:after {
    margin-top: 5px;
  }

  a#menu .close {
    background: transparent;
  }

  a#menu .close:before,
  a#menu .close:after {
    margin-top: 0;
  }

  a#menu .close:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  a#menu .close:after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .panel {
    width: 100%;
    display: none;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
  }

  #manuNav {
    position: relative;
    top: 0;
    width: 100%;
    text-align: right;
    z-index: 500;
  }

  #manuNav ul {
    border-bottom: 1px solid #ccc;
    background: #fff;
    text-align: left;
  }

  #manuNav li a {
    position: relative;
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    color: black;
    font-weight: 400;
  }

  #manuNav li a:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 6px;
    height: 6px;
    margin: -4px 0 0 0;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #topImg {
    padding-top: 60px;
    z-index: -100;
  }

  .brandDescription3 li {
    margin: 50px auto;
    display: block;
  }

  section {
    padding-top: 50px;
  }

  section h2 {
    margin-top: 0 auto 20px;
  }

  section h2 span {
    padding: 0 30px;
  }
}
